[user]
	name = Adrian Aarland
	email = {{ .email | quote }}
[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%Creset' --abbrev-commit
    stash-all = stash save --include-untracked
    undo = reset --soft HEAD^
    graph = log --graph --all --date=iso --pretty=format:'%Cred%h%Creset %ad | [%C(bold blue)%an%Creset] %Cgreen%d%Creset %s'
[core]
	editor = nvim
    pager = delta
	excludesFile = ~/.gitignore
[push]
	autoSetupRemote = true
[rebase]
    autoStash = true
[interactive]
    diffFilter = delta --color-only --features=interactive
[delta]
    features = decorations
    line-numbers = true
[delta "interactive"]
    keep-plus-minus-markers = false
[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax
[rerere]
	enabled = true
[init]
	defaultBranch = main
